<!DOCTYPE html>
<html>
	<head>
		<title>jfjmcreations</title>
		<link rel="stylesheet" type="text/css" href="{{url_for('.static', filename='style.css')}}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
		<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.jpg') }}">
	</head>

	<body>
        <div id="intro">
            <img src="static/profile_jfjm.png" class="circular-image">
            <div class="text-container">
                <h2 class="header">Jose Felipe Jimenez @jfjmcreations</h2>

                <p class="text">My name is Jose Felipe Jimenez. I am the creator behind jfjmcreations. 
                    Find me on social media and find my music on all of the platforms below.
                    Thank you for supporting my work!</p>
            
                <div class="social-icons">
                    <a href="https://open.spotify.com/artist/6vm278XNbcMlxfthkeJpw2?si=lNHyKfIZRgmuuHeNY2eTHQ" target="_blank">
                        <i class="fab fa-spotify fa-2x" style="color: #1db954;"></i></a>
                    <a href="https://www.youtube.com/channel/UCGA6eAT2Thi22xWGFCGhn7g" target="_blank">    
                        <i class="fab fa-youtube fa-2x" style="color: #ed302f;"></i></a>
                    <a href="https://soundcloud.com/jfjmcreations" target="_blank">    
                        <i class="fab fa-soundcloud fa-2x" style="color: #ff8800;"></i></a>
                    <a href="https://www.facebook.com/p/Jose-Felipe-Jimenez-100085425253828/" target="_blank">    
                        <i class="fab fa-facebook-f fa-2x" style="color: #3b5998;"></i></a>
                    <a href="https://www.instagram.com/jfjmcreations/" target="_blank">    
                        <i class="fab fa-instagram fa-2x" style="color: #ac2bac;"></i></a>
                    <a href="https://www.facebook.com/p/Jose-Felipe-Jimenez-100085425253828/" target="_blank">    
                        <i class="fab fa-twitter fa-2x" style="color: #55acee;"></i></a>
                    <!-- <a href="https://www.facebook.com/p/Jose-Felipe-Jimenez-100085425253828/" target="_blank">    
                        <i class="fab fa-reddit-alien fa-2x" style="color: #ff4500;"></i></a> -->
                </div>
            </div>
        </div>

        <div id="features">
           <h2>Top 10 Tracks</h2>
           {% include "content.html" %}
        </div>

    </body>
</html>